/* 
.header{
    background-color: blue;
}
.todo-div{
    background-color: green;
}
[id*="todo-"]{
    display: flex;
    background-color: red;
}
 */

body{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    background-color: #6dc7d1;
    color: #e2f3f4;
    font-family: 'Satoshi', sans-serif;
}
.header{
    display: flex;
    justify-content: center;
}


.tododiv{
    display: flex;
    justify-content: center;
}

[id*="todo-"]{
    display:flex;
   justify-content: center;
   margin-top: 8px;
}

.todolist{
    margin-top: 8px;
   
}

#dl-btn{
    padding: 10px;
    margin: 0 0px 0px 11px;
    background-color: rgb(235, 195, 135);
    border-radius: 5px;
    border-style: none;
}
.btn-addTodo {
    padding: 10px;
    margin: 0 0px 0px 11px;
    background-color: rgb(111, 144, 245);
    border-radius: 5px;
    border-style: none;

}
.todo-box{
    border-radius: 5px;
    border-style: none;
    width: 400px;
}

